<template>
  <div>
    <section class="hero">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-8">
            <div
              class="
                column
                is-full-mobile
                is-one-third-tablet
                is-3-desktop
                is-2-widescreen
                is-2-fullhd
              "
            >
              <img
                alt="Mark Marolf"
                :src="require('../assets/img/R0040012.jpeg')"
              />
            </div>
            <div class="column right-col">
              <div class="page-header">
                <h1 class="main-title"><b>Mark Marolf</b></h1>
                <h2 class="main-subtitle">Software Engineer and Student</h2>
              </div>

              <div>
                <p
                  v-for="(icon, index) in icons"
                  v-bind:key="index"
                  class="icon-container"
                >
                  <a
                    class="main-icon"
                    :href="icon.link"
                    target="blank"
                    :title="icon.title"
                  >
                    <font-awesome-icon
                      :class="icon.icon"
                      :icon="[icon.library, icon.icon]"
                    />
                    <span class="icon-text">{{ icon.title }}</span>
                  </a>
                </p>
              </div>
            </div>
          </div>
          <br />
          <h2 class="project-subheader"><b>Recent projects</b></h2>
          <div class="columns is-multiline is-vcentered">
            <div
              v-for="(project, index) in projects"
              v-bind:key="index"
              class="
                column
                is-full-mobile
                is-half-tablet
                is-half-desktop
                is-one-third-widescreen
                is-one-quarter-fullhd
              "
            >
              <a :href="project.link" target="_blank">
                <div class="card">
                  <div class="card-image">
                    <figure class="image is-4by3">
                      <img
                        style="object-fit: cover"
                        :src="require('../assets/img/projects/' + project.img)"
                        :alt="project.title"
                      />
                    </figure>
                  </div>
                  <div class="card-content">
                    <div class="content lmao">
                      <div>
                        <p class="project-title">{{ project.title }}</p>
                        <p class="project-desc">{{ project.description }}</p>
                      </div>
                      <p>{{ project.technologies }} | {{ project.date }}</p>
                    </div>
                  </div>
                </div></a
              >
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="hero is-small">
      <div class="hero-body">
        <div class="container" style="text-align: center">
          <p>
            Copyright © {{ year }}
            <a
              class="link"
              style="font-weight: bold"
              href="https://markmarolf.com"
              >markmarolf.com</a
            >
            All rights reserved.
          </p>
          <p>
            <a
              href="https://gitlab.com/tenderribs/mark-portfolio"
              class="link"
              target="blank"
            >
              Source code
              <i class="fa fa-external-link" aria-hidden="true"></i>
            </a>
          </p>
        </div>
      </div>
    </section>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "nuxt-property-decorator";
import moment from "moment";

interface Project {
  title: string;
  description: string;
  link: string;
  img: string;
  date: string;
  technologies: string;
}

interface Icon {
  icon: string;
  library: string;
  link: string;
  title: string;
}
@Component({
  name: "PageIndex",
  components: {},
})
export default class PageIndex extends Vue {
  icons: Icon[] = [
    {
      icon: "gitlab",
      library: "fab",
      link: "https://gitlab.com/tenderribs/",
      title: "GitLab",
    },
    {
      icon: "linkedin-in",
      library: "fab",
      link: "https://www.linkedin.com/in/mark-marolf",
      title: "LinkedIn",
    },
    {
      icon: "book",
      library: "fas",
      link: "https://ee.ethz.ch/",
      title: "ETHZ",
    },
    {
      icon: "briefcase",
      library: "fas",
      link: "https://prine.ch/",
      title: "Prine",
    },
    {
      icon: "envelope",
      library: "fas",
      link: "mailto:dc3dude@gmail.com",
      title: "Email",
    },
  ];

  projects: Project[] = [
    {
      title: "Quadruped",
      description: "3D printed robot that walks on four legs",
      link: "https://gitlab.com/walk-bot/quadruped",
      img: "quadruped.webp",
      date: "Fall 2020 - today",
      technologies: "ROS, C++, Python",
    },
    {
      title: "CRT TV wall",
      description: "Control Software for a 4x4 CRT TV matrix",
      link: "",
      img: "royaltv.webp",
      date: "Summer 2021",
      technologies: "Laravel, Bash, PiWall",
    },
    {
      title: "BLE-based Indoor Positioning",
      description: "Automatically locate objects indoors",
      link: "https://gitlab.com/mark-matura/",
      img: "bleips.webp",
      date: "Spring 2020 - Fall 2020",
      technologies: "Vue.js, Nuxt.js",
    },
    {
      title: "Appex Homepage",
      description: "Showcase knowledge management software",
      link: "https://appex.ch/",
      img: "appex.webp",
      date: "Fall 2020",
      technologies: "Vue.js, TypeScript, Vuex",
    },
  ];
  year: number = 2019;

  mounted() {
    this.year = moment().year();
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.main-title {
  font-size: 48px;
}
.main-subtitle {
  font-size: 24px;
  font-weight: 300;
  padding-bottom: 15px;
}
.right-col {
  display: flex;
  flex-direction: column;
}

.icon-container {
  margin: 0px;
}
.main-icon {
  font-size: 20px;
  width: 24px;
  color: #4b4b4b;
}
.icon-text {
  padding-left: 20px;
}

.lmao {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 140px;
}

.project-title {
  font-size: 20px;
}
.project-subheader {
  font-size: 32px;
  margin-bottom: 10px;
}
.project-desc {
  font-size: 18px;
}
a {
  color: #4b4b4b;
}
</style>

